{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static "assets/img/about-bg.jpg" %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <span class="subheading">Welcome to VoidPlog, a blog inspired by the curious mind of Void Pointer.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Our Mission</h2>
                <p>
                    At VoidPlog, our mission is to explore the vast and intriguing world of technology, programming, and beyond. We aim to provide insightful articles, tutorials, and discussions that inspire curiosity, foster learning, and spark creativity.
                </p>
                <br>

                <h2>Our Inspiration</h2>
                <p>
                    VoidPlog is driven by the passion for knowledge and the desire to share valuable insights with fellow tech enthusiasts, programmers, and curious minds. Inspired by the limitless possibilities of the digital universe, we delve deep into the realms of coding, software development, cybersecurity, artificial intelligence, and much more.
                </p>
                <br>

                <h2>What to Expect</h2>
                <p>
                    On VoidPlog, you can expect a diverse range of content covering various aspects of technology and beyond. From informative guides and tutorials to thought-provoking discussions and industry insights, there's something for everyone eager to expand their horizons and embark on a journey of discovery.
                </p>
                <br>

                <h2>Thank You</h2>
                <p>
                    Thank you for being part of the VoidPlog community. Together, let's explore the boundless wonders of technology and make our journey into the void an enriching and fulfilling experience.
                </p>
                <br>
            </div>
        </div>
    </div>
</main>
{% endblock content %}